@model List<MasterShop20.Website.Database.Artikel>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section menu { @RenderPage("../Shared/Menu.cshtml") }

@section navigation{ @RenderPage("../Shared/Navigation.cshtml") }

<table class="table table-condensed table-hover table-striped">

    <thead>
        <tr>
            <th></th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Preis</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var article in Model)
        {
            <tr>
                <td><img src="@article.BildLink" width="100" alt="art_pic"/></td>
                <td>@article.Titel</td>
                <td>@article.Beschreibung</td>
                <td>@article.NettoPreis €</td>
            </tr>
        }

    </tbody>

</table>
