@using System.Collections.Concurrent
@using System.Web.Mvc.Html
@model MasterShop20.Website.Database.Nutzer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{/*
    <script>
        setUserId(@Model.IdNutzer)
    </script>
*/}
<h2>Profil von @Model.Vorname @Model.Name</h2>
<div>
@using (Html.BeginForm("handle_form","Profile"))
{
    <fieldset>
        <legend>Personalia:</legend>
        @Html.LabelFor(m => m.Vorname, "Vorname")
        @Html.TextBoxFor(m => m.Vorname)
        @Html.LabelFor(m => m.Name, "Nachname")
        @Html.TextBoxFor(m => m.Name)
    </fieldset>
    <input type="submit" value="Submit" />
}
    </div>