@model System.Collections.Generic.List<MasterShop20.Website.Models.ArticleViewModel>

<table class="table table-striped table-hover table-condensed articleslist">

    <thead>
        <tr>
            <th style="width: 100px">Bild</th>
            <th style="width: 200px">Titel</th>
            <th>Beschreibung</th>
            <th style="width: 70px">Preis</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @{
            if (Model != null)
            {

                foreach (var article in Model)
                {
                    var link = article.PicLink;
                
            <tr>
                <td>
                    <img src="@link" width="70" alt="picLink" class="img-rounded"/>
                </td>

                <td>
                    @article.Title
                </td>

                <td id="@article.ArticleId">
                    @article.Description
                    <a href="#" onclick="showArticleDescription(@article.ArticleId)"><strong>...</strong></a>
                </td>

                <td>@article.Price</td>

                <td>
                    <button type="button" class="btn-primary btn-sm btn" onclick="addArticleToCart(@article.ArticleId)">hinzufügen</button>
                </td>
            </tr>
                }
            }
        
        }

    </tbody>

</table>

<a href="#" onclick="nextPage(1)"> >> next >></a>