<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>mastersho24</title>

    <script type="text/javascript" src="../../Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap/css/bootstrap.min.css" />

</head>


<body>

    <div class="container">

        <header class="row">
            <div class="col-md-5 left">
                <a href="#">
                    <img src='../../Content/images/logo_no1.png' alt='mastershop24' style='width: 400px;' id="logo"/>
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 right">
                <ul class="nav navbar nav-tabs menulist">
                    <li>@Html.ActionLink("registrieren", "Registration", "Home")</li>
                    <li>@Html.ActionLink("anmelden", "Login", "Home")</li>
                    <li>@Html.ActionLink("Warenkorb", "Index", "Cart")</li>
                    <li>@Html.ActionLink("Profil", "Index", "Profile")</li>

                </ul>
            </div>

        </header>

        <div class="row">
            <div class="col-md-2">
                @RenderSection("navigation", required: false)
            </div>
            <div class="col-md-10">
                @RenderBody()
                
                <input type="hidden" id="currentUserId" value=""/>

            </div>
        </div>

        <footer class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                © mastershop24 - @DateTime.Today.Year
                @Html.ActionLink("Impressum", "LegalNotice", "Home")
                @Html.ActionLink("Datenschutzerklärung", "PrivacyPolicy", "Home")
                @Html.ActionLink("AGBs", "GeneralBusinessTerms", "Home")
            </div>
            <div class="col-md-3"></div>
        </footer>



        <script type="text/javascript" src="../../Scripts/jquery/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../Scripts/custom/main.js"></script>

        @RenderSection("scripts", required: false)
    </div>

</body>

</html>
